h1 {
    font-size: 43px;
    text-align: center;
    margin: 0;
    padding-top: 25px;
    margin-bottom: 50px;
}

.MenuItem {
  list-style: none;
  padding: 0;
  display: flex;
}

.MenuItem li {
  margin: 0;
  padding: 10px;
  border-right: 1px solid #030303;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuItem li:last-child {
  border-right: none;
}

.MenuItem li a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Description {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 20px 0;
}

.main-logo {
  margin-top: 50px;
}

