h1 {
    font-size: 43px;
    text-align: center;
    margin: 0;
    padding-top: 25px;
    margin-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li:not(:last-child) {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

.main-logo {
  margin: 0 auto;
  display: block;
}

.Description {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 20px 0;
  color: #333;
}